@charset "utf-8";
/* CSS Document */
#bgHeader{
	padding-top: 50px;
	min-width:400px;
	height: 10px;
	color: #fff;
	background:#744C4D;
}
#gallerySlider {
	padding-top: 50px;
	height: 400px;
	min-width:400px;
	color: #fff;
	background-color:#7E7E7E;
}
#content, #about {
	padding:0px;
	height: auto;
	min-width:400px;
	color: #3D3D3D;
	background-color:#FFFFFF;
}
#section3 {
	padding-top: 50px;
	height: auto;
	color: #fff;
	background-color: #FFFFFF;
}
#footer{
	padding-top:50px;
	height:15px;min-width:400px;
	color:#FFFFFF;
	background-color:#000000;
}

@media screen and min-width(500px){
#gallerySlider, #bgHeader {
	padding-top: 5px;
	height: 50px;
}
}